body
{
    padding-left: 20px;
    color:white;
    background-image:url("/Images/cinema.jpg");
    font-family: "Times New Roman";
}

.réalisateurs
{
    color: yellowgreen;
    font-size: 25px;
    list-style :none    
}

.films 
{
    list-style-type: upper-alpha;
    color: white;
    font-size:15px;
}
.acteurs 
{
    list-style-type: disc;
    color: white;
    font-size: 15px;
}


