body
{
    padding-left: 20px;
    color:white;
    background-image:url("Images/cinema.jpg") ;
    background-size:100%;
}

h2
{
    color: yellowgreen;
    font-size: 25px;
    list-style :none
}

ol {
    list-style-type: upper-alpha;
}
ul {
    list-style-type: disc;
}


